@import "styles";
@import "mixins";

.row {
  align-items: center;
  padding: 20px;
  margin: 10px;
  display: flex;
  @include frame;

  &__image {
    border: 2px solid $primary-color;
    max-height: 90px;
    max-width: 120px;
    cursor: pointer;

    @media (min-width: $break-point-s) {
      max-height: 200px;
      max-width: 200px;
    }

    @media (min-width: $break-point-m) {
      max-height: 300px;
      max-width: 300px;
    }
  }

  &__info {
    display: inline-block;
    margin: auto 0 auto 20px;

    &-title {
      font-size: 20px;
      margin: 10px 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      width: 90%;
      color: $primary-color;
      cursor: pointer;
      @include break-word;

      @media (min-width: $break-point-s) {
        font-size: 25px;
      }
    }

    &-more {

      @media (min-width: $break-point-s) {
        display: flex;
      }

      &--published {
        font-size: 15px;
        margin-bottom: 10px;
        order: 2;

        @media (min-width: $break-point-s) {
          margin-right: 20px;
          font-size: 18px;
        }
      }

      &--author {
        @include links;
        margin-right: 20px;
        order: 1;
      }

      &--flickr {
        @include links;
        order: 3;
      }

    }

  }

}